a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

.box {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.button {
  background-color: #1085e4;
  text-transform: uppercase;
  padding: 20px 40px;
  border-radius: 30px;
  font-size: 12px;
  color: #fff;
  border: 1px solid #1085e4;
  font-weight: 700;
  letter-spacing: 2.5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: transparent;
  color: #1085e4;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  position: relative;
  padding-top: 55px;
  padding-bottom: 330px;
  background: url(../img/header/header-bg.png) no-repeat;
  background-size: cover;
}

.header__img {
  position: absolute;
  display: block;
  width: 895px;
  height: 740px;
  right: -6px;
  top: 190px;
  background: url(../img/header/bg.png) no-repeat;
  background-size: cover;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 300px;
}

.header-block_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
  letter-spacing: 2.1px;
  font-size: 12px;
  text-transform: uppercase;
}

.header-block_list .nav-item {
  color: #6e7ea9;
  padding-right: 39.5px;
}

.header-block_list__button {
  font-weight: 400;
  padding: 20px 56px;
  letter-spacing: 1.7px;
}

.header-block_title {
  color: #192b59;
  font-size: 80px;
  font-weight: 600;
  max-width: 540px;
  letter-spacing: -2.5px;
  margin-bottom: 55px;
}

.header-block_btn__b {
  margin-right: 15px;
}

.header-block_btn__g {
  background-color: #cbdbe8;
  color: #7e8bae;
  border: 1px solid #cbdbe8;
}

.header-block_btn__g:hover {
  background-color: transparent;
  color: #cbdbe8;
}

.company {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url(../img/company/bg-company.png) no-repeat;
  background-size: cover;
}

.company-block_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantage {
  padding-top: 115px;
  padding-bottom: 120px;
}

.advantage-blocks {
  grid-gap: 35px;
  -ms-grid-columns: 1tr 1tr 1tr;
      grid-template-columns: 1tr 1tr 1tr;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'a b c' 'd b c' 'd f g' 'e f g' 'e h h';
}

.advantage-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  font-size: 40px;
  color: #192b59;
  font-weight: 700;
}

.advantage-title_small {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  font-size: 14px;
  font-weight: 800;
  color: #1085e4;
  text-transform: uppercase;
}

.advantage-block {
  -webkit-box-shadow: 0 0 5px #f4f4f4;
          box-shadow: 0 0 5px #f4f4f4;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 70px;
}

.advantage-block-1 {
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: b;
}

.advantage-block-2 {
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: c;
}

.advantage-block-3 {
  text-align: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: d;
}

.advantage-block-4 {
  text-align: center;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: e;
}

.advantage-block-5 {
  text-align: center;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: f;
}

.advantage-block-6 {
  text-align: center;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: g;
}

.advantage-block_title {
  font-size: 20px;
  color: #192b59;
  font-weight: 600;
}

.advantage-block_description {
  font-size: 16px;
  color: #7581a1;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.advantage-block_link {
  font-size: 14px;
  color: #1085e4;
  font-weight: 600;
}

.advantage-text {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: h;
}

.advantage-text_info {
  font-size: 16px;
  font-weight: 400;
  color: #7581a1;
  line-height: 20px;
}

.advantage-text_footer {
  font-size: 16px;
  font-weight: 700;
  color: #192b59;
}

.advantage-text_footer_small {
  font-size: 14px;
  font-weight: 400;
  color: #1085e4;
}

.email-form {
  padding-top: 25px;
  padding-bottom: 28px;
  background-color: #0a2090;
  background: linear-gradient(135deg, #0a2090 0%, #2378cd 100%);
}

.email-form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email-form-description_title {
  font-size: 50px;
  color: #fff;
  font-weight: 600;
  letter-spacing: -1.7px;
}

.email-form-description_title__small {
  font-size: 14px;
  color: #00bffe;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2.8px;
}

.email-form-description_text {
  font-size: 18px;
  font-weight: 400;
  color: #dfe8ff;
  line-height: 30px;
}

.email-form_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 7px 7px 0px;
  border: 1px solid #aeaeae;
  width: 100%;
  max-width: 530px;
  border-radius: 30px;
}

.email-form_form__input {
  background: transparent;
  border: none;
  margin-left: 40px;
  width: 360px;
  font-size: 14px;
  font-weight: 400;
  color: #b1c3ee;
}

.email-form_form__button {
  letter-spacing: 3.9px;
  padding: 17px 41px 19px 46px;
  cursor: pointer;
}

.facts {
  padding-top: 100px;
  padding-bottom: 100px;
}

.facts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 16px;
}

.facts-header-title {
  letter-spacing: -1.5px;
  display: block;
  font-size: 50px;
  font-weight: 600;
  color: #192b59;
  text-align: center;
}

.facts-header-title_small {
  padding-bottom: 18px;
  letter-spacing: 3px;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  color: #1085e4;
  text-transform: uppercase;
  display: block;
}

.facts-list-li_big {
  font-size: 60px;
  font-weight: 700;
  color: #bacbdc;
  display: block;
}

.facts-list-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.facts-list-ul li {
  text-transform: uppercase;
  font-size: 12px;
  color: #1085e4;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 3px;
}

.prewiev {
  padding-top: 50px;
  background: #edf6ff;
}

.prewiev-header {
  text-align: center;
}

.prewiev-header-title {
  color: #192b59;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -1.4px;
}

.prewiev-header-title_small {
  padding-bottom: 21px;
  display: block;
  font-size: 18px;
  font-weight: 800;
  color: #1085e4;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.prewiev-img {
  text-align: center;
  padding-top: 32px;
}

.price {
  padding-top: 100px;
  padding-bottom: 100px;
}

.price-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-title_small {
  text-transform: uppercase;
  font-weight: 800;
  color: #1085e4;
  font-size: 18px;
  letter-spacing: 3.5px;
}

.price-title_pricing {
  margin-top: 21px;
  font-weight: 600;
  font-size: 40px;
  color: #192b59;
  letter-spacing: -1.3px;
  padding-bottom: 45px;
  margin-right: 5px;
}

.price-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-block {
  background: url(../img/price/bg.png) no-repeat;
  -ms-flex-preferred-size: 31.5%;
      flex-basis: 31.5%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 80px;
  padding-top: 1px;
}

.price-block:hover {
  background: #192b59;
}

.price-block:hover h2 {
  color: #fff;
}

.price-block:hover span {
  color: #fff;
}

.price-block:hover p {
  color: #fff;
}

.price-block:hover a {
  background-color: #1085e4;
  border: 1px solid #1085e4;
  color: #fff;
}

.price-block:hover a:hover {
  background-color: transparent;
  color: #1085e4;
}

.price-block_title {
  color: #000958;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: -2px;
  margin-bottom: 14px;
}

.price-block_title__small {
  font-size: 20px;
  color: #7b8ab2;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.2px;
}

.price-block_small {
  text-transform: uppercase;
  color: #0084ff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.7px;
  padding-bottom: 19px;
}

.price-block_description {
  text-align: center;
  max-width: 150px;
  color: #8085b1;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 38px;
}

.price-block_button {
  background: transparent;
  border: 1px solid #8085b1;
  color: #8085b1;
}

.dollar {
  color: #192b59;
}

.button-size {
  padding: 23px 62px;
}

.footer {
  background: #192b59;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-text_title {
  font-weight: 400;
  font-size: 16px;
  color: #b6bae0;
}

.footer-text_small {
  text-transform: uppercase;
  color: #1085e4;
}

.footer-social_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social_ul li {
  margin-left: 30px;
}
/*# sourceMappingURL=style.css.map */