a {
  text-decoration: none;
}

.box {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.button {
  background-color: #1085e4;
  text-transform: uppercase;
  padding: 20px 40px;
  border-radius: 30px;
  font-size: 12px;
  color: #fff;
  border: 1px solid #1085e4;
  font-weight: 700;
  letter-spacing: 2.5px;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: #fff;
  color: #1085e4;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  position: relative;
  padding-top: 55px;
  padding-bottom: 330px;
  background: url(../img/header/header-bg.png) no-repeat;
  background-size: cover;
}

.header__img {
  position: absolute;
  display: block;
  width: 895px;
  height: 740px;
  right: -6px;
  top: 190px;
  background: url(../img/header/bg.png) no-repeat;
  background-size: cover;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 245px;
}

.header-block_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
  letter-spacing: 2.1px;
  font-size: 12px;
  text-transform: uppercase;
}

.header-block_list .nav-item {
  color: #6e7ea9;
  padding-right: 37px;
  margin-right: 2.5px;
}

.header-block_list__button {
  font-weight: 400;
  padding: 20px 56px;
  letter-spacing: 1.7px;
}

.header-block_title {
  margin-left: -5px;
  color: #192b59;
  font-size: 80px;
  font-weight: 600;
  max-width: 540px;
  letter-spacing: -2.5px;
  margin-bottom: 55px;
}

.header-block_btn__b {
  margin-right: 15px;
}

.header-block_btn__g {
  background-color: #cbdbe8;
  color: #7e8bae;
  border: 1px solid #cbdbe8;
}

.header-block_btn__g:hover {
  background-color: #7e8bae;
  color: #cbdbe8;
}

.company {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url(../img/company/bg-company.png) no-repeat;
  background-size: cover;
}

.company-block_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.price {
  padding-top: 100px;
  padding-bottom: 100px;
}

.price-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-title_small {
  text-transform: uppercase;
  font-weight: 800;
  color: #1085e4;
  font-size: 18px;
  letter-spacing: 3px;
}

.price-title_pricing {
  margin-top: 20px;
  font-weight: 600;
  font-size: 40px;
  color: #192b59;
  letter-spacing: -1px;
  padding-bottom: 45px;
}

.price-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-block {
  background: url(../img/price/bg.png) no-repeat;
  width: 350px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 85px;
}

.price-block_title {
  color: #000958;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: -2px;
  margin-bottom: 18px;
}

.price-block_title__small {
  font-size: 20px;
  color: #7b8ab2;
  font-weight: 700;
  font-size: 20px;
}

.price-block_small {
  text-transform: uppercase;
  color: #0084ff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  padding-bottom: 20px;
}

.price-block_description {
  text-align: center;
  max-width: 150px;
  color: #8085b1;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  padding-bottom: 20px;
}

.price-block_button {
  background: transparent;
  border: 1px solid #8085b1;
  color: #8085b1;
}

.price-block_button:hover {
  background-color: #8085b1;
  color: #cbdbe8;
}

.dollar {
  color: #192b59;
}

.activ {
  background: #192b59;
  color: #fff;
}

.button-size {
  padding: 20px 60px;
}
/*# sourceMappingURL=style.css.map */