.header
  position: relative
  padding-top: 50px
  padding-bottom: 290px
  background: url(../img/header/header-bg.png) no-repeat
  background-size: center
  &__img
    position: absolute
    display: block
    width: 895px
    height: 740px
    right: -6px
    top: 190px
    background: url(../img/header/bg.png) no-repeat
    background-size: cover
  &-block
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 300px
    &_list
      display: flex
      justify-content: flex-end
      list-style-type: none
      margin: 0
      padding: 0
      font-weight: 700
      letter-spacing: 2.1px
      font-size: 12px
      text-transform: uppercase
      & .nav-item
        color: #6e7ea9
        padding-right: 39.5px
      &__button
        font-weight: 400
        padding: 20px 56px
        letter-spacing: 1.7px
    &_title
      color: #192b59
      font-size: 80px
      font-weight: 600
      max-width: 540px
      letter-spacing: -2.5px
      margin-bottom: 55px 
    &_btn
      &__b
        margin-right: 15px
      &__g
        background-color: #cbdbe8
        color: #7e8bae
        border: 1px solid #cbdbe8
        &:hover
          background-color: transparent
          color: #cbdbe8
          