a
  text-decoration: none
.button
  background-color: #1085e4
  border: none
  text-transform: uppercase
  padding: 20px 55px
  border-radius: 30px
  font-size: 12px
  color: #fff
  font-weight: 700
  letter-spacing: 1.5px
  &:focus
    outline: none
  &:hover
    background-color: lighten(#1085e4, 10%)