.price
  padding-top: 100px
  padding-bottom: 100px
  &-title
    display: flex
    flex-direction: column
    align-items: center
    &_small
      text-transform: uppercase
      font-weight: 800
      color: #1085e4
      font-size: 18px
      letter-spacing: 3px
    &_pricing
      margin-top: 20px
      font-weight: 600
      font-size: 40px
      color: #192b59
      letter-spacing: -1px
      padding-bottom: 45px
  &-blocks
    display: flex
    justify-content: space-between
  &-block
    background: url(../img/price/bg.png) no-repeat
    width: 350px
    background-size: cover
    display: flex
    flex-direction: column
    align-items: center
    padding-bottom: 85px
    &_title
      color: #000958
      font-size: 70px
      font-weight: 700
      letter-spacing: -2px
      margin-bottom: 18px
      &__small
        font-size: 20px
        color: #7b8ab2
        font-weight: 700
        font-size: 20px
    &_small
      text-transform: uppercase
      color: #0084ff
      font-size: 14px
      font-weight: 700
      letter-spacing: 3px
      padding-bottom: 20px
    &_description
      text-align: center
      max-width: 150px
      color: #8085b1
      font-size: 14px
      font-weight: 400
      line-height: 40px
      padding-bottom: 20px
    &_button
      background: transparent
      border: 1px solid #8085b1
      color: #8085b1 
      &:hover
        background-color: #8085b1 
        color: #cbdbe8

.dollar
  color: #192b59
.activ
  background: #192b59
  color: #fff
.button-size
  padding: 20px 60px